@import "../../vars.css";

.loginPage, .registerPage {
  position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--form-bg-clr);
}

.form {
  position: relative;
  background: var(--form-bg-clr);
  min-width: 15em;
  max-width: 26em;
  padding: 3.5em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: var(--inp-clr);
  color: var(--inp-txt-clr);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: var(--btn-clr);
  width: 100%;
  border: 0;
  padding: 1.2em;
  color: var(--btn-txt-clr);
  font-size: 14px;
  cursor: pointer;
}


.form .message {
  margin: 1.5em 0 0;
  color: var(--msg-clr);
  font-size: 12px;
}
  
.form .error {
  margin: .5em 0; 
  color: var(--msg-clr);
}

.form a {
  text-decoration: none;
  color: var(--link-clr);
}